@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #112031;
  font-size: 16px;
}

.wrapper {
  width: 500px;
  border-radius: 7px;
  background: #fff;
}

.wrapper header {
  color: #112031;
  font-size: 21px;
  font-weight: 700;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dad8d8;
}
header i {
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}

header {
  cursor: pointer;
  font-size: 30px;
  margin-right: 8px;
}

.wrapper .input-part {
  /* display: none; */
  margin: 20px 25px 30px;
}

.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.info-txt.error {
  display: block;
  background: #fff;
  color: #c52f2f;
  border: 1px solid #fff;
}
.info-txt.pending {
  display: block;
  background: #12a554;
  color: #fff;
  border: 1px solid #fff;
}

.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}

.input-part input {
  text-align: center;
  border: 1px solid #dad8d8;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #12a554;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background: #dad8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  content: "or";
  background: #fff;
  padding: 0 15px;
  font-size: 19px;
  color: #dad8d8;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background: #112031;
  color: #fff;
}
.wrapper.active header i {
  font-size: 30px;
  margin-left: 5px;
}
.wrapper.active .input-part {
  display: none;
}

.wrapper .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}
.weather-part .temp {
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb {
  font-weight: 600;
}
.weather-part .temp .deg {
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i {
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column {
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i {
  color: #5dbbff;
  font-size: 40px;
}
.column.humidity {
  border-left: 1px solid #ccc;
}
.column .details {
  margin-left: 3px;
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p {
  font-size: 14px;
  margin-top: -6px;
}
.humidity i {
  font-size: 37px;
}
